@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Inter:wght@300;400;600&family=Ultra&display=swap');

:root {
    --grey: rgb(234, 234, 234);
    --red: rgb(234, 16, 85);
    --accent: rgb(215, 138, 203);
    --ink: rgb(79, 39, 131);
    --inkLight: rgb(122, 85, 171);
    --black: black;
    --white: white;

    --titleFont: Gloock;
    --mainFont: Inter;
}

* {
    font-family: var(--mainFont);
    font-weight: 400;
}

.hover-wrapper > .hover {
    display: none;
    padding: 0;
    margin: 0;
    color: transparent;

    font-family: var(--mainFont);
}

.hover-wrapper:hover > .hover {
    display: block;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    color: var(--inkLight);
    background-color: var(--white);
}

.hover-wrapper {
    padding: 5px 10px 5px 10px;
    position: relative;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

}

.grid {
    display: grid;

    grid-template-columns: auto;
}

.button {
    font-family: var(--mainFont);
    font-weight: 300;
    font-size: 25px;
}

.nav-button {
    background-color: transparent;

    height: 50px;
    width: 50px;
    border-radius: 100px;


    border-style: solid;
    border-width: 2px;

    border-color: var(--inkLight);

    
    background-color: var(--white);
}

.nav-symbol {
    color: var(--inkLight);
}

.hover-wrapper:hover > .nav-button {

    background-color: var(--grey);
    border-color: var(--ink);
    color: var(--ink);

}

.flex-center {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.title {
    font-family: var(--titleFont);
    font-size: 50px;
    font-weight: 700;
    text-decoration: none;

    color: var(--ink);
}

a {
    text-decoration: none;
}

header {
    height: fit-content;
    background-color: var(--white);
}

.inline-container {
    display: inline;
}

.flex-nav {
    max-width: 33vw;
    display: flex;
    align-items: last baseline;
    justify-content:flex-start;
    flex-direction: column;

    position: fixed;

    right: 10px;
    height: min-content;
}